.book-filter {
	text-align: center;
	background-color: white;
	padding: 0.8rem;
	border: 3px solid;
}

.book-filter i {
	font-size: 1.5rem;
	margin-right: 5px;
}

.book-filter :not(:first-child) {
	height: 2rem;
	width: 30%;
}
