.note-preview {
	border: 1px solid black;
	/* min-height: 200px; */
	margin-bottom: 1rem;
	break-inside: avoid-column;
	page-break-inside: avoid;
	background-color: lightgray;
}
.note-preview *[contenteditable='true'] {
	background-color: white;
	border: 1px gray solid;
	padding: 0.5rem;
}
/* @media (max-width: 1200px) {
	.note-preview {
		min-height: 150px;
	}
}
@media (max-width: 750px) {
	.note-preview {
		min-height: 100px;
	}
} */
