.note-list {
	column-count: 5;
	column-span: all;
}
@media (max-width: 1200px) {
	.note-list {
		column-count: 4;
	}
}
@media (max-width: 1000px) {
	.note-list {
		column-count: 3;
	}
}
@media (max-width: 750px) {
	.note-list {
		column-count: 2;
	}
}
