.note-preview {
	/* border: 1px solid rgba(0, 0, 0, 0.5); */
	border-radius: 0.5rem;
	padding: 1rem 0.5rem;
	margin-bottom: 1rem;
	break-inside: avoid-column;
	page-break-inside: avoid;
	background-color: lightgray;
	word-break: break-word;
}
.note-preview .preview-bottom {
	margin-bottom: 0.5rem;
}
.note-preview.new-note .preview-bottom fieldset:first-child {
	margin-right: 1rem;
}
.note-preview > [class^='note'] {
	margin-bottom: 1rem;
}
.note-preview [contenteditable='true'] {
	background-color: rgba(255, 255, 255, 0.507);
	border: 1px gray solid;
	padding: 0.5rem;
	white-space: pre-wrap;
	width: 95%;
	margin-bottom: 0.5rem;
}
.note-preview input[type='text'] {
	border: 1px gray solid;
	padding: 0.5rem;
	border-radius: 0.3rem;
}
.note-preview button {
	border: 1px rgba(0, 0, 0, 0.5) solid;
}
.note-preview button:hover {
	transform: none;
}
.note-preview .pin-button {
	margin-bottom: 0.5rem;
}
.note-preview input[type='text'] {
	font-size: 1rem;
	width: 95%;
	text-align: center;
}
.note-preview.new-note {
	margin: 0 15% 2rem;
}
.note-preview.new-note h3,
.note-preview.new-note section {
	width: 50%;
}
.note-preview.new-note p {
	width: 100%;
}

/* .note-preview *[contenteditable='true']:empty:before {
	content: attr(placeholder);
	pointer-events: none;
	display: block;
} */
