.note-filter {
	margin: 0 15% 2rem;
}
.note-filter input{
	width: 50%;
}
.note-filter select{
	width: 30%;
}
@media (max-width: 1200px) {
	.note-filter {
		margin: 0 10% 2rem;
	}
}
@media (max-width: 760px) {
	.note-filter{
		margin: 0 1% 2rem;
	}
	.note-filter div {
		flex-direction: column;
		align-items: center;
	}
	.note-filter input {
		margin-bottom: 1rem;
		width: 70%;
	}
	.note-filter select {
		width: 50%;
	}
}
