header{
	background-color: #004330ed;
	color: blanchedalmond;
	border-bottom: 2px #00241aed solid;
}

.main-header {
	height: 5rem;
}

.main-header a{
	font-size: 1.7rem;
}

.main-header a:not(:last-of-type){
	margin: 0 .5rem;
	
}


