header {
	background-color: #004330ed;
	color: blanchedalmond;
	border-bottom: 2px #00241aed solid;
}

.main-header {
	height: 5rem;
}

.main-header nav a {
	font-size: 1.7rem;
	height: 5rem;
	line-height: 5rem;
	width: 8rem;
	text-align: center;
}
.main-header .menu-btn {
	display: none;
}

.main-header nav a {
	border-left: 2px #00241aed solid;
	padding-left: 0.7rem;
	padding-right: 0.7rem;
	transition: 0.3s;
}
.main-header .header-nav{
	transition: 0.3s;
}
.main-header nav a:hover {
	background-color: #004330;
}
.main-header nav a:last-of-type {
	border-right: 2px #00241aed solid;
}

@media (max-width: 1200px) {
	.main-header nav a:last-of-type {
		border-right: 0;
	}
	.main-header h1 {
		margin-left: 1.5rem;
	}
}

@media (max-width: 980px) {
	.main-header a {
		font-size: 1.5rem;
	}
}
@media (max-width: 760px) {
	.main-header .menu-btn {
		display: block;
		height: 2.5rem;
		width: 2.5rem;
		padding: 0;
		background-color: blanchedalmond;
		margin-right: 1.5rem;
		font-size: 2rem;
		color: #00241aed;
	}

	.main-header nav .menu-btn img {
		height: 100%;
	}
	.header-nav {
		display: none;
		align-items: flex-end;
		/* background-color: black; */
	}
	.header-nav a{
		width: 100%;
	}
	.menu-open .header-nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        width: 100%;
		left: 0;
		transition: .3s;
	}
	
	.main-header nav a{
		border-left: none;
		background-color: #004330ed;
	}

    nav button {
        height: 3.125rem;
        font-size: 1.25rem;
        text-align: left;
    }
}
@media (max-width: 500px) {
	.main-header .menu-btn {
		margin-right: .5rem;
	}
	.main-header h1{
		margin-left: .5rem;
	}
}