.email-add {
	width: 100%;
	margin: 0 auto;
	padding-left: 30px;
}

.email-add > * {
	margin-bottom: 20px;
}

.email-add textarea {
	padding: 0.5rem;
}

.email-add .btn-container{
	margin: 0 auto 20px;
}

.email-add button {
	padding: 0.5rem 2rem;
	width: 10rem;
	font-size: 1rem;
	margin-right: 0.5rem;
}

@media (max-width: 980px) {
	.email-add {
		padding-left: 0;
	}
	.email-add h2{
		display: none;
	}
}
@media (max-width: 600px) {
	.email-add button {
		padding: 0.5rem 2rem;
		width: 6.5rem;
		font-size: 1rem;
		margin-right: 0.5rem;
	}
}
