.email-list{
    width: 100%;
    margin: 0 auto;
    padding-left: 30px;
}

@media (max-width: 1200px) {
    .email-list{
        width: 100%;
        margin: 0 auto;
        padding-left: 1.5rem;
    }
}
@media (max-width: 980px) {
    .email-list{
        padding-left: 0;
    }
}