.email-preview {
	height: 5rem;
	border-bottom: 1px solid rgb(168, 168, 168);
}

/* .email-preview li:not(:last-of-type){
.main-header a:not(:last-of-type){
	border-bottom: 1px solid gray;
} */

.email-preview li {
	width: 100%;
}
.email-preview div:first-child{
	padding-right: 1rem;
}
.email-preview i {
	margin-right: 10px;
}
.email-preview .icons {
	margin-right: 15px;
}
.email-preview .msg-content h4{
	width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 3rem;
}
.email-preview .msg-content p{
	width: 500px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* @media (max-width: 770px) {
	.email-preview {
		width: 100%;
	}
} */
