.email-side-nav h2 {
	margin-bottom: 1.5rem;
	max-width: 2rem;
}

.email-side-nav {
	padding-right: 30px;
	border-right: 1px #00241aed solid;
	max-height: 100%;
}

.email-side-nav button {
	margin-bottom: 1.2rem;
	width: 10rem;
	padding: 1rem 1rem;
	font-size: 1.2rem;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 1200px) {
	.email-side-nav {
		padding-right: 1.5rem;
	}
	.email-side-nav button {
		width: 8rem;
		font-size: 1.1rem;
	}
}
@media (max-width: 980px) {
	.email-side-nav {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-right: 0;
		border-right: none;
	}
	.email-side-nav h2 {
		max-width: 5rem;
		margin: 0 1rem .3rem 0 ;
		text-align: center;
	}
	.email-side-nav button {
		width: 7rem;
		font-size: 0.9rem;
		padding: 1rem 0.6rem;
	}
}
@media (max-width: 760px) {
	.email-side-nav {
		justify-content: center;
	}
	.email-side-nav h2 {
		display: none;
	}
	.email-side-nav span{
		display: none;
	}
	.email-side-nav button {
		width: 3rem;
		font-size: 1.1rem;
		padding: 1rem 1rem;
	}
	.email-side-nav button{
		margin: 0 1rem 1rem;
	}
}
/* @media (max-width: 760px) {
	.email-side-nav h2 {
		display: none;
	}
	.email-side-nav span{
		display: none;
	}
	.email-side-nav button {
		width: 3rem;
		font-size: 1.1rem;
		padding: 1rem 1rem;
	}
} */
