.email-filter{
    border-bottom: 1px #00241aed solid;
    padding-bottom: 16px;
    margin-left: 30px;
}
.email-filter input{
    margin-right: 1rem;
}

.email-filter select{
    padding: .5rem;
}

.email-filter .fa{
    align-self: center;
    margin-right: .8rem;
}
@media (max-width: 825px) {
    .email-filter{
        flex-direction: column;
        align-items: center;
    }
    .email-filter div{
        margin-bottom: 0.5rem;
    }
}