.email-side-nav h2 {
	margin-bottom: 1.5rem;
	max-width: 2rem;
}

.email-side-nav {
	/* margin-right: 20px; */
	padding-right: 30px;
	border-right: 1px #00241aed solid;
	max-height: 100%;
}

.email-side-nav button {
	margin-bottom: 1.2rem;
	width: 10rem;
	padding: 1rem 1rem;
	font-size: 1.2rem;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
}
