.email-preview {
	height: 4rem;
	border-bottom: 1px solid rgb(168, 168, 168);
}

/* .email-preview li:not(:last-child) {

	border-bottom: 1px solid gray;
} */

.email-preview li{
	width: 100%
	
}

.email-preview i {
	margin-right: 10px;
}

.email-preview .icons {
	margin-right: 15px;
}


@media (max-width: 770px) {
    .email-preview{
        width: 100%;
    }
}