.email-filter{
    border-bottom: solid 1px black;
    padding: .8rem;
}
.email-filter input{
    margin-right: 1rem;
    border-radius: .3rem;
}

.email-filter select{
    padding: .5rem;
}

.email-filter .fa{
    align-self: center;
    margin-right: .8rem;
}