.email-details{
    padding: 2rem;
    height: 100%;
}
.email-details>*{
    margin: 0;
}
.email-details nav{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.email-details .msg{
    max-width: 800px;
}

.email-details .msg>*{
    margin-bottom: 1.5rem;
}

.email-details button {
	width: 10rem;
	margin-right: 0.5rem;
}

.email-details h5, .email-details h4{
    display: inline-block;
}