.email-app{
    height: 100%;
    width: 100%;
}
.email-app .main{
    width: 100%;
    margin: 0 auto;
}

/* @media (max-width: 1200px) {
    .email-app.main-container{
        flex-direction: column; */
        /* padding-top: 1rem;
    }
} */
@media (max-width: 980px) {
    .email-app.main-container{
        flex-direction: column;
        padding-top: 1rem;
    }
}
@media (max-width: 500px) {
    .email-app.main-container{
        padding: 1rem .5rem;
    }
}